/*! CSS overrides for website */
.bg-city-bottom {
	background-color: #1E2C32 !important;
}

.bg-sky-lav {
	background-color: #C7D0F6 !important;
}

.bg-sidebar-purple {
	background-color: #DB9ECE !important;
}

.bg-blossom-pink {
	background-color: #FBD3E9 !important;
}

.city-bottom {
	color: #1E2C32 !important;
}

.sky-lav {
	color: #C7D0F6 !important;
}

.sidebar-purple {
	color: #FFC4AC !important;
}

.leaf-green {
	color: #3B5253 !important;
}

.top-buffer {
	margin-top: 250px !important; 
}

.canvas-setup {
	border: 1px solid black;
	background-color: red;
}
