/*! CSS overrides for website */
.bg-city-bottom {
	background-color: #1E2C32 !important;
}

.bg-city-secondary {
	background-color: #C7D0F6 !important;
}

.bg-sidebar-purple {
	background-color: #DB9ECE !important;
}

.city-bottom {
	color: #1E2C32 !important;
}

.city-secondary {
	color: #C7D0F6 !important;
}

.sidebar-purple {
	color: #FFC4AC !important;
}

.top-buffer {
	margin-top: 250px !important; 
}

